.board-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(221, 210, 110);
}

.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  background-color: rgb(77, 174, 45);
}

.square{
  border: 1px solid rgb(96, 245, 4);
  display: flex;
  height: 125px;
  width:125px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.text{
  font-size: 50px;
  font-weight: normal;
  color: azure;
}
button{
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgb(21, 5, 250);
  padding: 10px;
  font-size: large;
  cursor: pointer;
}
.end{
  display:flex;
  justify-content:center;
  align-items: center;
  margin: 20px; 
  flex-direction: column;
  color: red;
  font-size: 25px;
}
